.Information {
  text-align: center;
  width: 100%;
  margin: auto;
  height: 300px;
  padding: 20px;
}
@media (min-width: 1000px) and (min-height: 700px) {
  .Information {
    width: 700px;
    height: 600px;
  }
}
@media (min-width: 500px) and (min-height: 401px) {
    .Information {
      width: 450px;
      height: 400px;
    }
}
@media (min-width: 500px) and (min-height: 400px) {
  .Information {
    width: 350px;
    height: 300px;
  }
}
